body { background: #c27851; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 19px; display: flex; }
.block-notify-0 { color: #b4bf7f; font-size: 15px; margin-bottom: 5px; }
.block-auth-1 { color: #6f6719; font-size: 13px; margin-bottom: 5px; }
.block-invoice-2 { color: #1c608a; font-size: 13px; margin-bottom: 5px; }
.block-filter-3 { color: #bc568a; font-size: 13px; margin-bottom: 5px; }
.block-invoice-4 { color: #553614; font-size: 18px; margin-bottom: 5px; }